{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 1 %}
<slider-element class="swiper-container {% if section.settings.auto_height != true%} fixed-height {% endif %}"
  {% if section.settings.autoplay > 0 %} data-autoplay="{{section.settings.autoplay}}"{% endif %}
  {% if section.settings.navigation %} data-navigation{% endif %}
  {% if section.settings.pagination != "disabled" %} data-pagination="{{section.settings.pagination}}"{% endif %}
  {% if section.settings.auto_height == true %} data-auto-height {% endif %}
  >
  <ul class="swiper-wrapper">
  {% endif %}
  {% for block in section.blocks %}
    <li class="swiper-slide color-{{ block.settings.color_scheme }}" style="--oo: {{ block.settings.overlay_opacity | divided_by: 100 | default: 0.3 }}; --oc: {{ block.settings.overlay_color | default: '#000000' }};">
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

    <div class="background-image background-element">
      {% if block.settings.image_wide != blank %}
        {% render 'media' with is_slide: true, class: 'media--wide', image: block.settings.image_wide %}
      {% endif %}
      {% if block.settings.image_mobile != blank %}
        {% render 'media' with is_slide: true, class: 'media--mobile', image: block.settings.image_mobile %}
      {% endif %}
      {% render 'media' with  is_slide: true, image: block.settings.image %}
    </div>
    {% if block.settings.video != blank %}
    <div class="background-video background-element">
      {% if block.settings.image_mobile != blank %}
        {% render 'media' with is_slide: true, type: 'video', class: 'media--mobile', video: block.settings.image_mobile %}
      {% endif %}
      {% render 'media' with  is_slide: true, type: 'video', video: block.settings.image %}
    </div>
    {% endif %}
    {% if block.type != 'video' and block.type != 'image' %}
    <div class="banner__content" style="align-items: {{ block.settings.desktop_text_box_position }};">
      <div class="banner__box color-{{ block.settings.color_scheme }}">
          {%- if block.settings.introduction != blank -%}
          <div class="h4 label">{{ block.settings.introduction }}</div>
          {%- endif -%}
          {% if block.settings.content_image != blank %}
            {% render 'media' with size: 'large', image: 'image', max_widht: block.settings.content_image_width %}
          {% endif %}
          {% if block.settings.heading != blank %}
          <h2 class="banner__heading h0 heading" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}</span>
          </h2>
          {% endif %}
          {%- if block.settings.subtitle != blank -%}
          <div class="h4 label">{{ block.settings.subtitle }}</div>
          {%- endif -%}
          {% if block.settings.content != blank %}
          <div class="banner__text" {{ block.shopify_attributes }}>
            <span>{{ block.settings.text | escape }}</span>
          </div>
          {% endif %}
          {% if block.settings.button_label_1 != blank and block.settings.button_link_2 != blank %}
          <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.button_label_1 != blank -%}
              <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a{% if block.settings.button_link_2 != blank %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
            {%- endif -%}
          </div>
          {%endif%}
        </div>
    </div>
    {% endif %}
    </li>
  {% endfor %}

  {% comment %} Resume swiper markup if block size > 1   {% endcomment %}
  {% if section.blocks.size > 1 %}
  </ul>
  {% if section.settings.pagination != "disabled" %}
    <div class="swiper-pagination" data-pagination></div>
  {% endif %}
  {% if section.settings.navigation %}
    <div class="swiper-navigation">
      <button class="button-icon" data-prev aria-label="Previous Slide"></button>
      <button class="button-icon" data-next aria-label="Next Slide"></button>
    </div>
  {% endif %}
</slider-element>
{% endif %}

{% if section.settings.auto_height != true %}
<style>
#shopify-section-{{section.id}} slider-element {
  height: {{ section.settings.height_mobile | default: 350}}px
}
@media (min-width: 790px) {
  #shopify-section-{{section.id}} slider-element {
    height: {{ section.settings.height_standard | default: 460}}px
  }
}
@media (min-width: 1250px) {
  #shopify-section-{{section.id}} slider-element {
    height: {{ section.settings.height_standard | default: 510}}px
  }
}
</style>
{% endif %}
