<script defer src="{{ 'slider.js' | asset_url }}"></script>
{{ 'slider.css' | append: '?enable_css_minification=1' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{%assign is_slide = false %}
{% if section.blocks.size > 1 %}
{% assign is_slide = true %}

<slider-element class="swiper-container {% if section.settings.auto_height != true%} fixed-height {% endif %}"
  {% if section.settings.autoplay > 0 %} data-autoplay="{{ section.settings.autoplay}}"{% endif %}
  {% if section.settings.navigation == true %} data-navigation="true" {% endif %}
  {% if section.settings.pagination != "disabled" %} data-pagination="{{ section.settings.pagination }}"{% endif %}
  {% if section.settings.auto_height == true %} data-auto-height="true" {% endif %}
  >
  <ul class="swiper-wrapper">
  {% endif %}
  {% for block in section.blocks %}
      {% render 'media-slide' with color_scheme: block.settings.color_scheme, type: block.type, overlay_color: block.settings.overlay_color, overlay_opacity: block.settings.overlay_opacity, settings: block.settings, is_slide: is_slide , auto_height: section.settings.auto_height %}
  {% endfor %}

  {% comment %} Resume swiper markup if block size > 1   {% endcomment %}
  {% if section.blocks.size > 1 %}
  </ul>
  {% if section.settings.pagination != "disabled" %}
    <div class="swiper-pagination" data-pagination></div>
  {% endif %}
  {% if section.settings.navigation == true %}
    <div class="swiper-navigation">
      <button class="button-icon" data-prev aria-label="Previous Slide">{% render 'icon-caret' %}</button>
      <button class="button-icon" data-next aria-label="Next Slide">{% render 'icon-caret' %}</button>
    </div>
  {% endif %}
</slider-element>
{% endif %}

{% if section.settings.auto_height != true %}
<style>
#shopify-section-{{ section.id }} .swiper-slide {
  height: {{ section.settings.height_mobile | default: 350 }}px
}
@media (min-width: 790px) {
  #shopify-section-{{ section.id }} .swiper-slide {
    height: {{ section.settings.height_standard | default: 460 }}px
  }
}
@media (min-width: 1250px) {
  #shopify-section-{{ section.id }} .swiper-slide {
    height: {{ section.settings.height_widescreen | default: 510 }}px
  }
}
</style>
{% endif %}
