{% comment %}

Accepts:
  is_slide: boolean – defines whether to add lazy-loading/slide list functionality.
  type: "video" | "image" | "video_background" | "image_background" block type
  settings: block settings object, usually media + content settings
  color_scheme
  overlay_color
  overlay_opacity

Usage:
  {% render 'album-slide' with params: block.settings, full_width: section.params.full_width, is_slide: is_slide %}
{% endcomment %}

<li class="{% if is_slide %} swiper-slide {% endif %} album-slide {% if full_width %} layout--full-width {% else %} layout--columns {% endif %}" {{ block.shopify_attributes }} >
<div class="album-slide__cover">
      {% if params.image != blank %}
      {% if params.button_link_1 != blank %}
      <a href="{{params.button_link_1}}" class="full-unstyled-link">
        {% endif %}
          {% render 'media' with type: 'image', is_slide: is_slide, image: params.image, size: 'large' %}
        {% if params.button_link_1 != blank %}
      </a>
      {% endif %}
      {% else %}
        {{ 'collection-1' | placeholder_svg_tag}}
      {% endif %}
    </div>
    {% if params.introduction != blank  or params.title != blank or params.content != blank or params.button_label_1 != blank %}
    <div class="album-slide__content text--{{ params.text_align }}">

          {%- if params.introduction != blank -%}
          <div class="h5 label">{{ params.introduction }}</div>
          {%- endif -%}
          {% if params.title != blank %}
          <h2 class=" heading {% unless full_width %} h3 {% endunless %}" {{ block.shopify_attributes }}>
            <span>{{ params.title | escape }}</span>
          </h2>
          {% endif %}
          {%- if params.subtitle != blank -%}
          <div class="h5 label">{{ params.subtitle }}</div>
          {%- endif -%}
          {% if params.content != blank %}
          <div class="rte" {{ block.shopify_attributes }}>
            <span>{{ params.content  }}</span>
          </div>
          {% endif %}
          {% if params.button_label_1 != blank and params.button_link_1 != blank %}
          <div class="button-wrap {% if params.button_label_1 != blank and params.button_link_1 != blank and params.button_label_2 != blank and params.button_link_2 != blank %} banner__buttons--multiple{% endif %}" >
            {%- if params.button_label_1 != blank and params.button_link_1 != blank -%}
              <a{% if params.button_link_1 != blank %} href="{{ params.button_link_1 }}"{% endif %} class="button{% if params.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %} {% unless full_width %} small {% endunless %}"{% if params.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ params.button_label_1 | escape }}</a>
            {%- endif -%}
            {%- if params.button_label_2 != blank and params.button_link_2 != blank -%}
              <a{% if params.button_link_2 != blank %} href="{{ params.button_link_2 }}"{% endif %} class="button{% if params.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %} {% unless full_width %} small {% endunless %}"{% if params.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ params.button_label_2 | escape }}</a>
            {%- endif -%}
          </div>
          {% endif %}
          {% render 'icon-links' with params: params %}

    </div>
    {% endif %}

  </li>