{% if params.icon_link_spotify != blank or params.icon_link_apple_music != blank or params.icon_link_youtube != blank or params.icon_link_amazon != blank%}
          <ul class="button-wrap icon-link__wrap list-unstyled text--inherit">

            {% if params.icon_link_spotify != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_spotify }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-spotify' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Spotify</span>{% endif %}
                <span class="visually-hidden">Listen on Spotify</span>

              </a>
            </li>
            {% endif %}
            {% if params.icon_link_apple_music != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_apple_music }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-apple' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Apple Music</span>{% endif %}
                <span class="visually-hidden">Listen on Apple Music</span>
              </a>
            </li>
            {% endif %}
            {% if params.icon_link_youtube != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_youtube }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-youtube' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Youtube</span>{% endif %}
                <span class="visually-hidden">Listen on Youtube Music</span>
              </a>
            </li>
            {% endif %}
            {% if params.icon_link_amazon != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_amazon }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-amazon' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Amazon</span>{% endif %}
                <span class="visually-hidden">Listen on Amazon Music</span>
              </a>
            </li>
            {% endif %}
            {% if params.icon_link_soundcloud != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_soundcloud }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-soundcloud' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Soundcloud</span>{% endif %}
                <span class="visually-hidden">Listen on soundcloud</span>
              </a>
            </li>
            {% endif %}
            {% if params.icon_link_deezer != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_deezer }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-deezer' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Deezer</span>{% endif %}
                <span class="visually-hidden">Listen on Deezer</span>
              </a>
            </li>
            {% endif %}
            {% if params.icon_link_pandora != blank %}
            <li>
              <a class="icon-link" href="{{ params.icon_link_pandora }}" rel="nofollower noopener noreferrer" target="_blank">
                {%- render 'icon-pandora' -%}
                {% if show_icon_text == true %}<span class="icon-link__label">Pandora</span>{% endif %}
                <span class="visually-hidden">Listen on Pandora</span>
              </a>
            </li>
            {% endif %}
          </ul>
          {% endif %}