{% comment %}

Accepts:
  is_slide: boolean – defines whether to add lazy-loading/slide list functionality.
  type: "video" | "image" | "video_background" | "image_background" block type
  settings: block settings object, usually media + content settings
  color_scheme
  overlay_color
  overlay_opacity

Usage:
  {% render 'media-slide' with color_scheme: section.settings.color_scheme, overlay_opacity: section.settings.overlay_opacity, overlay_color: section.settings.overlay_color, settings: block.settings, type: block.type, is_slide: is_slide %}
{% endcomment %}

<{% if is_slide %}li{% else %}div{% endif %} class="swiper-slide swiper-slide--{{ type }} color-{{ color_scheme | default: 'transparent-light' }}" style="background-color: {{ overlay_color | default: '#000000' }}; --oc: {{ overlay_color | default: '#000000' }}; ">
{% if type contains 'video' %}
    <div class="background-video background-element" style="--oo: {{overlay_opacity }}; opacity: {{ 100 | minus: overlay_opacity | divided_by: 100.00 }}; --vbg-overlay-opacity: {{overlay_opacity | default: 0.4 }}; --vbg-bg: {{overlay_color | default: '#000000' }};">

      {% if settings.video_type == 'external' %}
          {% render 'media' with type: 'video', video: settings.youtube_url, poster: settings.image, allow_unmute: settings.allow_unmute , start_unmuted: settings.start_unmuted %}
      {% else %}
        {% render 'media' with type: 'video', ratio: "16-9", class: 'media--mobile', video: settings.video, allow_unmute: settings.allow_unmute, start_unmuted: settings.start_unmuted , video_small: settings.video_small, poster: settings.image, is_slide: is_slide %}
      {% endif %}
    </div>
    {%else %}
    <div class="background-image {% unless auto_height == true %} background-element {% endunless %}" style="--oo: {{ overlay_opacity }}; opacity: {{ 100 | minus: overlay_opacity | divided_by: 100.00 }};">
      {% if settings.image_wide != blank %}
        {% render 'media' with type: 'image' , image: settings.image_wide , size: "full" , class: 'media--wide', center_x: settings.image_center_x, type: "image" , center_y: block.settings.image_center_y , is_slide: is_slide %}
      {% endif %}
      {% if settings.image_mobile != blank %}
        {% render 'media' with type: 'image' , image: settings.image_mobile, size: "full" , class: 'media--mobile', center_x: settings.image_center_x, type: "image" , center_y: settings.image_center_y, is_slide: is_slide %}
      {% endif %}
      {% render 'media' with type: 'image' , image: settings.image, size: "full", center_x: settings.image_center_x, center_y: settings.image_center_y, type: "image"  , is_slide: is_slide %}
    </div>
  {% endif %}
    {% if type == 'content-image' %}

      <div class="content-image-wrap style--{{settings.content_image_spacing | default: 'overlapping' }}" style="opacity: {{settings.content_image_opacity | divided_by: 100.00 | default: 1 }}; align-items: {{settings.content_image_alignment | default: 'center' }}">
        {% if settings.content_image_1 != blank %}
        <div class="content-image__1" style="flex-basis: {{settings.image_1_basis | default: '150' }}px; {% if settings.image_1_style %} {{settings.image_1_style}} {% endif%}">
          {% render 'media' with type: 'image', image: settings.content_image_1, size: 'large' %}
        </div>
        {% endif %}
        {% if settings.content_image_2 != blank %}
        <div class="content-image__2" style="flex-basis: {{settings.image_2_basis | default: '150' }}px; {% if settings.image_2_style %} {{settings.image_2_style}} {% endif%}">
          {% render 'media' with type: 'image', image: settings.content_image_2, size: 'large' %}
        </div>
        {% endif %}
        {% if settings.content_image_3 != blank %}
        <div class="content-image__3" style="flex-basis: {{settings.image_3_basis | default: '150' }}px; {% if settings.image_3_style %} {{settings.image_3_style}} {% endif%}  ">
          {% render 'media' with type: 'image', image: settings.content_image_3, size: 'large' %}
        </div>
        {% endif %}
      </div>
    {% endif %}
  {% unless settings.heading == blank and settings.content_image == blank and settings.button_label_1 == blank and settings.introduction == blank and settings.content == blank %}
    {% if type != 'video' and type != 'image' %}
    <div class="banner__content" style="align-items: {{ settings.desktop_text_box_position }}; {% if settings.desktop_text_box_position == 'flex-end' %} padding-bottom: clamp(1rem, calc(0.5rem + 1.5vw), 2.5rem); {% endif %}">
      <div class="banner__box color-{{ color_scheme }}"  data-slide-content>
        {% render 'slide-content' with settings: settings, block: block, type: type, is_small: is_static %}
      </div>
    </div>
    {% endif %}
    {%endunless %}
</{% if is_slide %}li{% else %}div{% endif %}>