{% comment %}

Accepts:
  is_slide: boolean – defines whether to add lazy-loading/slide list functionality.
  type: "video" | "image" | "video_background" | "image_background" block type
  settings: block settings object, usually media + content settings
  color_scheme
  overlay_color
  overlay_opacity

Usage:
  {% render 'media-slide' with color_scheme: section.settings.color_scheme, overlay_opacity: section.settings.overlay_opacity, overlay_color: section.settings.overlay_color, settings: block.settings, type: block.type, is_slide: is_slide %}
{% endcomment %}

<{% if is_slide %}li{% else %}div{% endif %} class="swiper-slide swiper-slide--{{ type }} color-{{ color_scheme | default: 'transparent-light' }}" style="background-color: {{ overlay_color | default: '#000000' }}; --oc: {{ overlay_color | default: '#000000' }};">
{% if type contains 'video' %}
    <div class="background-video background-element" style="--oo: {{overlay_opacity }}; opacity: {{ 100 | minus: overlay_opacity | divided_by: 100.00 }};">

      {% if settings.video_type == 'external' %}
          {% render 'media' with type: 'video',  video: settings.youtube_url, poster: settings.image, allow_unmute: settings.allow_unmute %}
      {% else %}
        {% render 'media' with type: 'video', ratio: "16-9", class: 'media--mobile', video: settings.video, video_small: settings.video_small, poster: settings.image, is_slide: is_slide %}
      {% endif %}
    </div>
    {%else %}
    <div class="background-image background-element" style="--oo: {{ overlay_opacity }}; opacity: {{ 100 | minus: overlay_opacity | divided_by: 100.00 }};">

      {% if settings.image_wide != blank %}
        {% render 'media' with media: settings.image_wide , size: "full" , class: 'media--wide', center_x: settings.image_center_x, type: "image" , center_y: block.setings.image_center_y , is_slide: is_slide %}
      {% endif %}
      {% if settings.image_mobile != blank %}
        {% render 'media' with media: settings.image_mobile, size: "full" , class: 'media--mobile', center_x: settings.image_center_x, type: "image" , center_y: block.setings.image_center_y, is_slide: is_slide %}
      {% endif %}

      {% render 'media' with media: settings.image, size: "full", center_x: settings.image_center_x, center_y: settings.image_center_y, type: "image"  , is_slide: is_slide %}
    </div>

    {% endif %}
  {% unless settings.heading == blank and settings.content_image == blank %}
    {% if type != 'video' and type != 'image' %}
    <div class="banner__content" style="align-items: {{ settings.desktop_text_box_position }};">
      <div class="banner__box color-{{ color_scheme }}">
          {%- if settings.introduction != blank -%}
          <div class="h4 label">{{ settings.introduction }}</div>
          {%- endif -%}
          {% if settings.content_image != blank %}
            {% render 'media' with class: "content-image", size: 'half', type: "image", image: settings.content_image, max_width: settings.content_image_width %}
          {% endif %}
          {% if settings.heading != blank %}
          <h2 class="banner__heading h0 heading" {{ block.shopify_attributes }}>
            <span>{{ settings.heading | escape }}</span>
          </h2>
          {% endif %}
          {%- if settings.subtitle != blank -%}
          <div class="h4 label">{{ settings.subtitle }}</div>
          {%- endif -%}
          {% if settings.content != blank %}
          <div class="banner__text" {{ block.shopify_attributes }}>
            <span>{{ settings.text | escape }}</span>
          </div>
          {% endif %}
          {% if settings.button_label_1 != blank and settings.button_link_1 != blank %}
          <div class="banner__buttons{% if settings.button_label_1 != blank and settings.button_link_1 != blank and settings.button_label_2 != blank and settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
            {%- if settings.button_label_1 != blank and settings.button_link_1 != blank -%}
              <a{% if settings.button_link_1 != blank %} href="{{ settings.button_link_1 }}"{% endif %} class="button{% if settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ settings.button_label_1 | escape }}</a>
            {%- endif -%}
            {%- if settings.button_label_2 != blank and settings.button_link_2 != blank -%}
              <a{% if settings.button_link_2 != blank %} href="{{ settings.button_link_2 }}"{% endif %} class="button{% if settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ settings.button_label_2 | escape }}</a>
            {%- endif -%}
          </div>
          {% endif %}
        </div>
    </div>
    {% endif %}
    {%endunless %}
    {% if is_slide %}
      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
    {% endif %}
    </{% if is_slide %}li{% else %}div{% endif %}>