{%- comment -%}


Accepts:
  type: "image" | | "video" | "external_video"
  ratio: "adapt" | square" | "cropped" | "portrait" | "16-9"
  size: "full" | "half" | "large" | "medium" | "small" | "icon" | "actual"
  class: (optional)
  alt: (optional) override alt text
  max_width: (optional) number for
  image: image object required if type is "image"
  video: video url required if type is "video"
  allow_unmute: allow unmuting of video
  center_x: Centering along X axis
  center_y: Center
  lazy_load: boolean
{%- endcomment -%}


{%- liquid

  unless ratio
    assign ratio = "adapt"
  endunless
  unless size
    assign size = "full"
  endunless

  unless type
    if media and media.media_type
      if media.media_type == "image"
        assign type = "image"
        unless image
          assign image = media
        endunless
      endif
      if media.media_type == "video"
        assign type = "video"
        unless video
          echo "Assigning video?"
          assign video = media | asset_url
        endunless
      endif
    elsif media contains ".jpg" or media contains ".png"
      assign type = "image"
      unless image
        assign image = media
      endunless
    else
      assign type = "image"
    endif
  endunless



  assign sizes = '100vw'
  assign loading_size = '300x'
  if type == "image" and ratio == "adapt" and image
    assign aspect_ratio = 1 | divided_by: image.aspect_ratio | times: 100
  endif

  if size == "full"
    assign loading_size = '300x'
    unless max_width
      if type == "image"
        assign max_width = image.width
      else
        assign max_width = 2400
      endif
    endunless
  elsif size == "half"
    unless max_width
      if type == "image"
        assign max_width = image.width
      else
        assign max_width = 1200
      endif
    endunless
    assign sizes = "(min-width: 1200px) 600px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
  elsif size == "large"
    assign loading_size = '300x'
    assign sizes = "(min-width: 1200px) 1200px, (min-width: 750px) 80vw, 100vw"
    unless max_width
      if type == "image"
        assign max_width = image.width
      else
        assign max_width = 1600
      endif
    endunless
  elsif size == "medium"
    assign loading_size = '180x'
    assign sizes = "(min-width: 1200px) 700px, (min-width: 750px) 450px, 340px"
    unless max_width
      assign max_width = 750
    endunless
  elsif size == "small"
    assign loading_size = '120x'
    assign sizes = "(min-width: 1200px) 550px, (min-width: 750px) 400px, 300px"
    unless max_width
      assign max_width = 750
    endunless
  elsif size == "icon"
    assign sizes = "(min-width: 1200px) 550px, (min-width: 750px) 400px, 300px"
    unless max_width
    assign sizes = max_width
      assign max_width = 120
    endunless
    assign loading_size = max_width | append: 'x'
  elsif size == "actual"
    assign loading_size = '300x'
    assign sizes = "(max-width: 1000px) 100vw, image.size"
    assign max_width = image.size
  endif
  if is_slide
    assign loading_size = "300x"
  endif

  unless image or type != 'image'
    assign image = media
  endunless

  unless video or type != 'video'
    assign video = media
  endunless

  assign is_external = false
  if media contains "https://youtu" or media contains "https://vim" or media contains 'https://www.youtube' or media  contains 'youtube.com' or media contains 'vimeo.com'
    assign is_external = true
  endif
  if video contains "https://youtu" or video contains "https://vim" or video contains 'https://www.youtube' or video contains 'youtube.com' or video contains 'vimeo.com'
    assign is_external = true
  endif
-%}

{% assign srcSetString = "srcset" %}
{% if is_slide %}{% assign srcSetString = "data-srcset" %}{% endif %}
<div class="media type--{{ type }} media--{{ ratio }} {{ class }}" style="{% if aspect_ratio > 0 %}--ar: {{ aspect_ratio }}%;{% endif %}{% if size != 'full' %} --mw: {{ max_width }}px;{% endif %}">
  {%- case type -%}
    {%- when 'image' -%}

      {%- if image -%}
      {% capture imgchecker %}{{image|img_url:'240x'}}{%endcapture %}
      {% if imgchecker contains 'jpg' %}
      <img class="blur" aria-hidden="true" style="filter:blur(25px); z-index: 0;" src="{{ image | img_url: '80x' }}">
      {% endif %}
        {% comment %} Requires an image input, that's it! {% endcomment %}
        <img
        {% unless lazy_load == false %}
        {% if is_slide %}
        class="swiper-lazy"
        {% else %} loading="lazy"
        {% endif %}
        {% endunless %}
        {% if size == "icon" %}
          {{ srcSetString }}="{{ image | img_url: max_width }} 1x, {{ image | img_url: max_width, scale: 2 }} 2x"
        {% else %}
          {{ srcSetString }}="{%- if max_width >= 165 -%}{{ image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if max_width >= 240 -%}{{ image | img_url: '240x' }} 240w,{%- endif -%}
            {%- if max_width >= 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if max_width >= 535 -%}{{ image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if max_width >= 720 -%}{{ image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if max_width >= 940 -%}{{ image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if max_width >= 1200 -%}{{ image | img_url: '1200x' }} 1200w,{%- endif -%}
            {%- if max_width >= 1400 -%}{{ image | img_url: '1400x' }} 1400w,{%- endif -%}
            {%- if max_width >= 1600 -%}{{ image | img_url: '1600x' }} 1600w,{%- endif -%}
            {%- if max_width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if max_width >= 2400 -%}{{ image | img_url: '2400x' }}{%- endif -%}
            {{ image | img_url: 'master' }} {{ image.width }}w""
        {% endif %}
          src="{{ image | img_url: loading_size }}"
          sizes="{{ sizes }}"
          alt="{{ alt | default: image.alt | escape }}"
          {% unless is_slide %} loading="lazy" {% endunless %}
          width="{{ image.width }}"
          height="{{ image.height }}"
          {% if center_x or center_y %}
          style="object-position: {{ center_x | default: 50 }}% {{ center_y | default: 50 }}%"
          {% endif %}
          {% if zoom and image.width > 1000 %}
          data-zoom="{{image | img_url: '3000x'}}"
          {% endif %}
        >

        {% if zoom and image.width >= 1000 %}<div class="zoom-helper">{% render 'icon-zoom' %}<span data-hover-text="Hover to Zoom" data-touch-text="Touch To Zoom"></span></div> {% endif %}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    {%- when  'video' -%}

      {% liquid
        if poster
          assign image = poster
          assign max_width = 2000
        endif %}
        <video-background class="video-bg" {% if allow_unmute == true %} can-unmute {% endif %} {% if start_unmuted == true %} muted="false" {% endif %}{% if allow_pause == true %} can-pause {% endif %} src="{% if video_small and video_small != blank %}{{ video_small }} 720w, {% endif %}{{ video }}">
          {% if poster %}
          <img
          class="custom-fallback-image{% if is_slide %} swiper-lazy{% endif %}"

            {{ srcSetString }}="{%- if max_width >= 165 -%}{{ image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if max_width >= 240 -%}{{ image | img_url: '240x' }} 240w,{%- endif -%}
              {%- if max_width >= 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if max_width >= 535 -%}{{ image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if max_width >= 720 -%}{{ image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if max_width >= 940 -%}{{ image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if max_width >= 1200 -%}{{ image | img_url: '1200x' }} 1200w,{%- endif -%}
              {%- if max_width >= 1400 -%}{{ image | img_url: '1400x' }} 1400w,{%- endif -%}
              {%- if max_width >= 1600 -%}{{ image | img_url: '1600x' }} 1600w,{%- endif -%}
              {%- if max_width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if max_width >= 2400 -%}{{ image | img_url: '2400x' }}{%- endif -%}"

            src="{{ image | img_url: loading_size }}"
            sizes="{{ sizes }}"
            alt="{{ alt | default: image.alt | escape }}"
            {% unless is_slide or lazy_load == false %} loading="lazy" {% endunless %}
            width="{{ image.width }}"
            height="{{ image.height }}"
            {% if center_x or center_y %}
            style="object-position: {{ center_x | default: 50 }}% {{ center_y | default: 50 }}%"
            {% endif %}
          >
          {% endif %}
        </video-background>
        {% if allow_unmute == true %}
          {% render 'audio-controls' %}
        {% endif %}
        <script src="{{ 'component-external-video-bg-2.js' | asset_url }}" defer></script>
  {%- endcase -%}

{% if is_slide %}
  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
{% endif %}
</div>