{%- comment -%}
{% render 'multi-slide' with block: block, is_slide: is_slide  %}
{%- endcomment -%}
<{%- if block.settings.url != blank -%}a href="{{block.settings.url}}" {%- else -%}div {%- endif -%} class="multi-slide swiper-slide"
  data-content-location="{{block.settings.content_location}}"
  style="background-color: {{block.settings.overlay_color}}">

{%- if block.type == 'image' -%}
{%- assign image = block.settings.image -%}
{%- endif -%}

<div class="multi-slide__image" style="--oo: {{ block.settings.overlay_opacity }}; opacity: {{ 100 | minus: block.settings.overlay_opacity | divided_by: 100.00 }}; ">
      {%- if image -%}
      {% render 'media' with type: 'image' , image: block.settings.image , ratio: block.settings.image_ratio size: "medium" , center_x: block.settings.image_center_x, type: "image" , center_y: block.settings.image_center_y , is_slide: is_slide %}
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
      {%- endif -%}
    </div>


<div class="multi-slide__content location--{{block.settings.content_location}} color-{{block.settings.content_color_scheme | default: "inverse"}}">
  {% if block.settings.title != blank %}
  <h3 class="heading" >{{block.settings.title | escape }}</h3>
  {% endif %}
  {% if block.settings.subtitle != blank %}
  <h4 class="label" >{{block.settings.subtitle | escape }}</h3>
  {% endif %}
  {% if block.settings.url != blank and block.settings.button_text != blank %}
  <div class="button simple" >{{block.settings.button_text| escape}}</div>
  {% endif %}
</div>
</{%-if block.settings.url != blank -%}a {%- else -%}div {%- endif -%}>