{% comment %}

Accepts:
  is_slide: boolean – defines whether to add lazy-loading/slide list functionality.
  type: "video" | "image" | "video_background" | "image_background" block type
  settings: block settings object, usually media + content settings
  color_scheme
  overlay_color
  overlay_opacity

Usage:
  {% render 'news-slide' with type: block.type params: block.settings, full_width: section.params.full_width, is_slide: is_slide %}
{% endcomment %}

{% if type == 'blog' %}
{% assign searcher = params.url | replace: "/blogs/", "" %}
{% assign article = articles[searcher] %}
{% assign image = article.image %}
{% else %}
{% assign image = params.image %}
{% endif %}

<{% if is_slide %}li{% else %}div{% endif %} class="swiper-slide news-slide {% if full_width or is_slide == false %} layout--full-width {% else %} layout--columns {% endif %} " {{ block_shopify_attributes }}>
  <div class="news-slide__image">
    <a href="{{params.url}}" class="full-unstyled-link">
      {% if image != blank %}
          {% render 'media' with type: 'image', is_slide: is_slide, image: image, size: 'large' %}
      {% else %}
        {{ 'collection-1' | placeholder_svg_tag}}
      {% endif %}
    </a>
  </div>
  <div class="news-slide__content text--{{ params.text_align | default: 'left' }} color-{{color_scheme}}">
    {% if type == 'link' %}

      {% if params.title != blank %}
      <h3 class=" heading {% if full_width == false or params.title.size > 15 %} h4 {% endif %}" >
        <span>{{ params.title | escape }}</span>
      </h3>
      {% endif %}
      {%- if params.subtitle != blank -%}
      <div class="h5 label">{{ params.subtitle }}</div>
      {%- endif -%}
      {% if params.content != blank %}
      <div class="rte" >
        <span>{{ params.content  }}</span>
      </div>
      {% endif %}
    {% else %}
        {% if article.title != blank %}
        <h3 class="{% if full_width == false or article.title.size > 15 %} h4 {% endif %} heading" >
          <span>{{ article.title | escape }}</span>
        </h3>
        {% endif %}
          {%- if params.show_date-%}
            <span class="circle-divider caption-with-letter-spacing label">
              {{- article.published_at | time_tag: format: 'date' -}}
            </span>
          {%- endif -%}
          {%- if show_author -%}
            <span class="caption-with-letter-spacing label">{{ article.author -}}</span>
          {%- endif -%}
           {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
            <p class=" rte-width rte">
              {%- if article.excerpt.size > 0 -%}
                {{ article.excerpt | strip_html | truncatewords: 30 }}
              {%- else -%}
                {{ article.content | strip_html | truncatewords: 30 }}
              {%- endif -%}
            </p>
          {%- endif -%}
      {% endif %}
      {% if params.button_label != blank %}
        <div class="button-wrap">
          <a {% if type == 'link' %} target="_blank" rel="nofollow noopener noreferrer" {% endif %} href="{{ params.url }}" class="button button--primary">{{ params.button_label | escape }}</a>
        </div>
      {% endif %}
    </div>
  </{% if is_slide %}li{% else %}div{% endif %}>