{% comment %}

{% render 'slide-content' with settings: block.settings, block: block %}
{% endcomment %}


{%- if settings.introduction != blank -%}
<div class="{% if is_small %} h5 {% else %} h4 {% endif %} label">{{ settings.introduction }}</div>
{%- endif -%}
{% if settings.content_image != blank %}
  {% render 'media' with class: "content-image", size: 'half', type: "image", image: settings.content_image, max_width: settings.content_image_width %}
{% endif %}
{% if settings.heading != blank %}
<h2 class="banner__heading {% if is_small %} h2 {% else %} h0 {% endif %} heading" {{ block.shopify_attributes }}>
  <span>{{ settings.heading | escape }}</span>
</h2>
{% endif %}
{%- if settings.subtitle != blank -%}
<div class="{% if is_small %} h5 {% else %} h4 {% endif %} label">{{ settings.subtitle }}</div>
{%- endif -%}
{% if settings.content != blank %}
<div class="banner__text" {{ block.shopify_attributes }}>
  <span>{{ settings.content }}</span>
</div>
{% endif %}
{% if settings.button_label_1 != blank and settings.button_link_1 != blank %}
<div class="banner__buttons button-wrap{% if settings.button_label_1 != blank and settings.button_link_1 != blank and settings.button_label_2 != blank and settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
  {%- if settings.button_label_1 != blank and settings.button_link_1 != blank -%}
    <a{% if settings.button_link_1 != blank %} href="{{ settings.button_link_1 }}"{% endif %} class="button{% if settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %} {% if is_small %} small {% endif %}"{% if settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ settings.button_label_1 | escape }}</a>
  {%- endif -%}
  {%- if settings.button_label_2 != blank and settings.button_link_2 != blank -%}
    <a{% if settings.button_link_2 != blank %} href="{{ settings.button_link_2 }}"{% endif %} class="button{% if settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %} {% if is_small %} small {% endif %}"{% if settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ settings.button_label_2 | escape }}</a>
  {%- endif -%}
</div>
{% endif %}