
{% comment %}
    Renders variant picker in product form

    Accepts:
    - product: {Object} Product Liquid object (required)
    - block: {Object}  block object in project form forloop
    - id: {string} section id

    Usage:
    {% render 'variant-picker', product: product, block: block, id: section.id %}
{% endcomment %}

 {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}

                      <fieldset class="js product-form__input">
                        <legend class="form__label label">{{ option.name }}</legend>
                          {% liquid
                            assign is_color = false
                            if option.name contains "color" or option.name contains "Color" or option.name contains "olour"
                              assign is_color = true
                            endif
                          %}

                          {%- for value in option.values -%}

                          {% liquid
                            assign bg_color = false
                            assign text_color = false

                            if is_color
                              assign color_name = "color" | append: forloop.index

                              if product.metafields.colors[color_name] != blank
                                assign bg_color = product.metafields.colors[color_name] | strip
                              else
                                capture bg_color_capture
                                  render 'swatch-color' with color: value
                                endcapture
                                assign bg_color = bg_color_capture | strip
                              endif

                              if bg_color
                                unless bg_color contains 'jpg' or bg_color contains 'png' or bg_color contains 'gradient'
                                  assign dark_text_contrast = bg_color | color_contrast: "#2f2f2f"
                                  assign light_text_contrast = bg_color | color_contrast: "#efefef"
                                  if dark_text_contrast > light_text_contrast
                                    assign text_color = "#2f2f2f"
                                  else
                                    assign text_color = "#efefef"
                                  endif
                                endunless
                              endif
                            endif

                          %}

                          <input type="radio" id="{{ id }}-{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="product-form-{{ id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ id }}-{{ option.name }}-{{ forloop.index0 }}" {% if is_color and bg_color != blank and bg_color != false %}
                                class="color-swatch" aria-label="{{option.name }}" style="background: {{ bg_color }};{% if bg_color contains '.jpg' or bg_color contains '.png' or bg_color contains 'gradient' %}color: white; text-shadow: 0 0 2px black; {% else %} {% if text_color != blank %} color: {{ text_color }} !important; {% endif %}{% endif %}"
                                {% endif %}>
                            {{ value }}
                          </label>
                          {% liquid


                             assign bg_color = false
                            assign text_color = false
                          %}
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label label" for="Option-{{ id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

                        <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>