{%- comment -%}EKF Modded - section style + reveal + sticky image + headings{%- endcomment -%}

{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{% if section.settings.id == blank %}
{% assign inner_id = "rt" | append : section.id %}
{% else %}
{% assign inner_id = section.settings.id %}
{% endif %}

{% render 'section-style' with id: section.id, params: section.settings %}

<div id="{{ inner_id }}" class="image-with-text {% if section.settings.sticky_image == true %} sticky-image {% endif %} page-width ">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}{% if section.settings.content_layout == 'no-overlap' %} gradient color-{{ section.settings.color_scheme }}{% endif %}">
    <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item grid__item__image" data-reveal >
    {%- capture media_classes -%}image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image == blank %}image-with-text__media--placeholder placeholder{% endif %}{%- endcapture -%}
      {% render 'media' with image: section.settings.image, size: "half" %}
    </div>
    <div class="image-with-text__text-item grid__item">
      <div class="image-with-text__content image-with-text__content--{{ section.settings.height }}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 data-reveal class="heading {{ block.settings.heading_size}}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
               {%- when 'caption' -%}
              <p class="label image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
            {%- when 'text' -%}
              <div data-reveal class="image-with-text__text rte {{ block.settings.text_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} data-reveal role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>