<link rel="stylesheet" href="{{ 'section-news-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-news-slider.css' | asset_url | stylesheet_tag }}</noscript>

<script defer src="{{ 'slider.js' | asset_url }}"></script>
<script defer src="{{ 'component-content-slider.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% render 'section-style' with id: section.id, params: section.settings %}
<div class="news-section-wrap" {% if section.settings.anchor_id != blank %} id="{{section.settings.anchor_id | handleize }}" {% endif %}>
  {% if section.settings.introduction != blank or section.settings.title != blank or section.settings.subtitle != blank%}
  <div class="common-header page-width  text--{{ section.settings.text_align | default: "left"}}">
    {% if section.settings.introduction != blank %}
      <div class="h4 label">{{ section.settings.introduction | escape }}</div>
    {% endif %}
    {% if section.settings.title != blank %}  <h2 class="title heading">{{ section.settings.title | escape }}</h2>{% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="h4 label">{{ section.settings.subtitle | escape }}</div>
    {% endif %}
  </div>
  {% endif %}

  {% assign is_slide = false%}
  {% if section.blocks.size > 1 %}
    {% assign is_slide = true %}
    <content-slider class="swiper-container swiper page-width news-slider" data-pagination="{{ section.settings.pagination }}" data-navigation="{{ section.settings.navigation }}" data-autoplay="{{ section.settings.autoplay_speed | default: 0 }}" data-full-width="{{ section.settings.full_width }}">
        <ul class="swiper-wrapper">
  {% endif %}
    {% for block in section.blocks %}
      {% render 'news-slide' with type: block.type, params: block.settings, full_width: section.settings.full_width, is_slide: is_slide, color_scheme: section.settings.content_color_scheme %}
      {% endfor %}
    {% if is_slide %}
    </ul>
      {% if section.settings.pagination != "disabled" and section.settings.navigation_style == 'classic' %}
        <div class="swiper-pagination" data-pagination></div>
      {% endif %}
      {% if section.settings.navigation == true %}
        <div class="swiper-navigation style--{{section.settings.navigation_style | default: 'modern'}}">
          <button class="button-icon" data-prev aria-label="Previous Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
          {% if section.settings.pagination != "disabled" and section.settings.navigation_style != 'classic' %}
          <div class="swiper-pagination" data-pagination></div>
          {% endif %}
          <button class="button-icon" data-next aria-label="Next Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
        </div>
      {% endif %}
  </content-slider>
  {% endif %}
</div>