{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
<style>
div.collection-hero:not(.collection-hero--with-image) {
  margin-top: {{section.settings.spacing_top | minus: 5 | divided_by: 3.0 | default: 1}}rem;
  margin-bottom: {{section.settings.spacing_bottom | minus: 5 | divided_by: 3.0 | default: 1}}rem;
}
@media (max-width: 749px) {

  div.collection-hero:not(.collection-hero--with-image) {
    margin-top: {{section.settings.spacing_top | minus: 5 | divided_by: 6.0 | default: 1}}rem;
    margin-bottom: {{section.settings.spacing_bottom | minus: 5 | divided_by: 6.0 | default: 1}}rem;
  }
}
</style>
</style>
<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
    {% if section.settings.breadcrumbs != "disabled" %}
    {% render 'breadcrumbs' with style: section.settings.breadcrumbs %}
    {%endif %}
      <h1 class="collection-hero__title heading">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media">
        <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
          {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
          {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
          {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
          {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
          {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
          src="{{ collection.image | img_url: '533x' }}"
          sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          loading="lazy"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>
