<script defer src="{{ 'slider.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-swiper-styles.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-swiper-styles.css' | asset_url | stylesheet_tag }}</noscript>{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% render 'section-style' with id: section.id, params: section.settings %}
{% if section.settings.anchor_id != blank %}<div id={{section.settings.anchor_id}}>
{% endif %}

{% capture nav %}
{% if section.settings.pagination != "disabled" and section.settings.navigation_style == 'classic' and section.blocks.size > 1 %}
        <div class="swiper-pagination" data-pagination></div>
      {% endif %}
      {% if section.settings.navigation == true %}
        <div class="swiper-navigation style--{{section.settings.navigation_style | default: 'modern'}}">
          <button class="button-icon" data-prev aria-label="Previous Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
          {% if section.settings.pagination != "disabled" and section.settings.navigation_style != 'classic' %}
          <div class="swiper-pagination" data-pagination></div>
          {% endif %}
          <button class="button-icon" data-next aria-label="Next Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
        </div>
      {% endif %}
{% endcapture %}
<div class="layout--{{ section.settings.text_align }} common-header multi-slider__header">
  <div class="header-wrap  page-width">
    {% if section.settings.introduction != blank %}
      <div data-reveal class="h4 label">{{ section.settings.introduction | escape }}</div>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 data-reveal class="title heading">{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
    <div data-reveal class="h4 label">{{ section.settings.subtitle | escape }}</div>
    {% endif %}
  </div>
</div>

{%assign is_slide = false %}
{% if section.blocks.size > 1 %}
{% assign is_slide = true %}

<swiper-element class="swiper-container multi-slider {% unless section.settings.full_width %} page-width {% endunless %}"
  {% if section.settings.autoplay_speed > 0 %} data-autoplay="{{ section.settings.autoplay_speed }}"{% endif %}
  {% if section.settings.navigation == true %} data-navigation="true" {% endif %}
  {% if section.settings.pagination != "disabled" %} data-pagination="{{ section.settings.pagination }}"{% endif %}
  {% if section.settings.effect %} data-effect="{{ section.settings.effect }}"{% endif %}
  {% if section.settings.auto_height == true %} data-auto-height="true" {% endif %}
  data-multi-slider="true"
  >
  <div class="swiper-wrapper">
    {% else %}
    <div class="single-slide-wrapper ">
  {% endif %}
  {% for block in section.blocks %}
      {% render 'multi-slide' with block: block, is_slide: is_slide  %}
  {% endfor %}

  {% comment %} Resume swiper markup if block size > 1   {% endcomment %}
  {% if section.blocks.size > 1 %}
</div>
{% endif %}
{% unless section.blocks.size <= 1 %}
  {{ nav}}
  {% endunless %}

{% if section.blocks.size > 1 %}
</swiper-element>
{% else %}
</div>
{% endif %}

{% if section.settings.anchor_id != blank %}
</div>
{% endif %}
