
{% comment %}
EKF Modded heavily
{% endcomment %}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-grid-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{% assign swipe_active = section.settings.swipe_on_desktop  %}
{% if section.settings.swipe_on_mobile == true %}
  {% assign swipe_active = true %}
{% endif %}
{% render 'section-style' with id: section.id, params: section.settings %}
<div class="collection  {% unless section.settings.swipe_on_desktop == true %}{% if swipe_active == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop {% endif %}{% endunless %}" {% if section.settings.anchor_id != blank %} id="{{section.settings.anchor_id | handleize }}" {% endif %}>
  {% if section.settings.introduction != blank  or section.settings.title != blank %}
    <div class="page-width {% if section.settings.show_view_all and swipe_active %}title-wrapper-with-link{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and swipe_active and section.settings.products_to_show > 2 %} {% if section.settings.slide_on_desktop == true %} title-wrapper--self-padded {% else %}  title-wrapper--self-padded-tablet-down {% endif %} {% endif %} layout--{{ section.settings.text_align }} common-header">
      <div class="header-wrap">
        {% if section.settings.introduction != blank %}
          <div data-reveal class="h4 label">{{ section.settings.introduction | escape }}</div>
        {% endif %}
       {% if section.settings.title != blank %}
          <h2 data-reveal class="title heading">{{ section.settings.title | escape }}</h2>
        {% endif %}
       {% if section.settings.subtitle != blank %}
        <div data-reveal class="h4 label">{{ section.settings.subtitle | escape }}</div>
       {% endif %}
      </div>
     {%- if section.settings.show_view_all and swipe_active and  section.settings.text_align == 'spaced' -%}
       <a data-reveal href="{{ section.settings.collection.url }}" class="link  underlined-link {% unless section.settings.swipe_on_desktop %} large-up-hide {% endunless %}">{{ 'sections.featured_collection.view_all' | t }}</a>
     {%- endif -%}
    </div>
  {% endif %}

  {%- liquid
    assign products_to_display = section.settings.collection.all_products_count

    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif
  %}
  {% assign max = section.settings.collection.all_products_count %}
  {% if section.settings.limit <= section.settings.collection.all_products_count %}
    {% assign max = section.settings.limit %}
    {% assign is_limited = true %}
  {% endif %}
  <slider-component class="slider-mobile-gutter {% unless section.settings.full_width == true %} page-width {% else %} full-width {% endunless %}">
    <ul id="Slider-{{ section.id }}" data-max="{{ max }}" {% if swipe_active == false %} data-reveal {% elsif  section.settings.swipe_on_desktop == false %} data-reveal-desktop {% endif %} class="
    {%- if section.settings.collection.all_products_count > 2 and swipe_active and section.settings.products_to_show > 2 %} slider grid--peek {% if section.settings.swipe_on_desktop == true %}  slider--everywhere  {% endif %} {% if section.settings.swipe_on_mobile == true %} slider--tablet {% endif %}{%- endif -%} contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid-grid {% if section.settings.center_insufficient == true %} center-insufficient {% endif %} grid-grid--{{ section.settings.grid_size }} product-grid " role="list">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %} grid__item--product">
           {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating
            %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item grid__item--product">
           {% render 'card-product', show_vendor: section.settings.show_vendor %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.collection.all_products_count > 2 and swipe_active and section.settings.products_to_show > 2 -%}
      <div  class="slider-buttons {% if section.settings.swipe_on_desktop %} always-show {% endif %} no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}" aria-label="">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>
{%- comment -%} Spaced + Swipe = no need for this button {%- endcomment -%}
  {% unless section.settings.text_align == 'spaced' and section.settings.swipe_on_desktop == true %}
  {%- if section.settings.show_view_all and section.settings.collection.all_products_count > section.settings.products_to_show  -%}
    <div  class="center button-wrap {% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      <a href="{{ section.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
  {% endunless %}
</div>


<style>
  .collection .common-header.layout--centered {
    margin: 0 auto calc(1rem + 1vw);
  }
</style>