<link rel="stylesheet" href="{{ 'section-album-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-album-slider.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-swiper.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-swiper.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-swiper-styles.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-swiper-styles.css' | asset_url | stylesheet_tag }}</noscript>{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<script defer src="{{ 'slider.js' | asset_url }}"></script>
<script defer src="{{ 'component-content-slider.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% render 'section-style' with id: section.id, params: section.settings %}

<div class=" album-section-wrap" {% if section.settings.anchor_id != blank %} id="{{section.settings.anchor_id | handleize }}" {% endif %}>
  {% if section.settings.introduction != blank or section.settings.title != blank or section.settings.subtitle != blank%}
  <div class="common-header page-width text--{{ section.settings.text_align | default: "left"}}">
    {% if section.settings.introduction != blank %}
      <div class="h4 label">{{ section.settings.introduction | escape }}</div>
    {% endif %}
    {% if section.settings.title != blank %}  <h2 class="title heading">{{ section.settings.title | escape }}</h2>{% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="h4 label">{{ section.settings.subtitle | escape }}</div>
    {% endif %}
  </div>
  {% endif %}

  {% assign is_slide = false%}
  {% if section.blocks.size > 1 and section.settings.disable_slider != true %}
    {% assign is_slide = true %}
    <content-slider class="swiper-container swiper page-width" data-pagination="{{ section.settings.pagination }}" data-navigation="{{ section.settings.navigation }}" data-autoplay="{{ section.settings.autoplay_speed | default: 0 }}" data-full-width="{{ section.settings.full_width }}">
        <ul class="swiper-wrapper">
  {% else %}
   <ul class="album-slides page-width--desktop {% if section.settings.full_width %} full-width {% endif %}">
  {% endif %}
    {% for block in section.blocks %}
      {% render 'album-slide' with params: block.settings, full_width: section.settings.full_width, is_slide: is_slide, show_icon_text: section.settings.show_icon_text %}
      {% endfor %}
    {% if is_slide %}
    </ul>
      {% if section.settings.pagination != "disabled" and section.settings.navigation_style == 'classic' %}
        <div class="swiper-pagination" data-pagination></div>
      {% endif %}
      {% if section.settings.navigation == true %}
        <div class="swiper-navigation style--{{section.settings.navigation_style | default: 'modern'}}">
          <button class="button-icon" data-prev aria-label="Previous Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
          {% if section.settings.pagination != "disabled" and section.settings.navigation_style != 'classic' %}
          <div class="swiper-pagination" data-pagination></div>
          {% endif %}
          <button class="button-icon" data-next aria-label="Next Slide">{% if section.settings.navigation_style == "classic" %}{% render 'icon-caret' %}{% else %} {% render 'icon-arrow' %} {% endif %}</button>
        </div>
      {% endif %}
       {% if section.settings.button_label_1 != blank and section.settings.button_link_1 != blank %}
        <div class="button-wrap center color-{{ section.settings.button_color_scheme }}" >
          {%- if section.settings.button_label_1 != blank and section.settings.button_link_1 != blank -%}
            <a{% if section.settings.button_link_1 != blank %} href="{{ section.settings.button_link_1 }}"{% endif %} class="button{% if section.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if section.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ section.settings.button_label_1 | escape }}</a>
          {%- endif -%}
          {%- if section.settings.button_label_2 != blank and section.settings.button_link_2 != blank -%}
            <a{% if section.settings.button_link_2 != blank %} href="{{ section.settings.button_link_2 }}"{% endif %} class="button{% if section.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if section.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ section.settings.button_label_2 | escape }}</a>
          {%- endif -%}
        </div>
      {% endif %}
  </content-slider>
  {% else %}
     </ul>
  {% endif %}
</div>