<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>
{% render 'section-style' with id: section.id, settings: section.settings %}

<product-recommendations class="product-recommendations page-width" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  {% if recommendations.performed and recommendations.products_count > 0 %}
  <div class="common-header text--{{ section.settings.text_align | default: 'left' }}">
    {% if section.settings.introduction != blank %}
      <div class="h4 label">{{ section.settings.introduction | escape }}</div>
    {% endif %}
      <h2 class="product-recommendations__heading heading">{{ section.settings.heading | escape }}</h2>
    {% if section.settings.subtitle != blank %}
      <div class="h4 label">{{ section.settings.subtitle | escape }}</div>
    {% endif %}
  </div>
    <ul class="grid product-grid grid-grid grid-grid--{{ section.settings.grid_size }}" data-max="{{ recommendations.products_count }}" role="list">
      {% for recommendation in recommendations.products %}
        <li class="grid__item grid__item--product">
          {% render 'product-card',
            product_card_product: recommendation,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor
          %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</product-recommendations>